<launch>
  <arg name="map" default="$(find racecar_simulator)/maps/stata_basement.yaml"/>
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map)"/>
  
  <!-- <include file="$(find racecar_simulator)/launch/racecar_model.launch"/> -->

  <!-- <node pkg="racecar_simulator" name="racecar_simulator" type="simulate" output="screen">
    <rosparam command="load" file="$(find racecar_simulator)/params.yaml"/>
  </node> -->

  <!-- <node pkg="tf" type="static_transform_publisher" name="lidar_tf_publisher" args="0.05 0 0 0 0 0 base_link laser 100"/> -->
  <node pkg="tf" type="static_transform_publisher" name="lidar_tf_publisher2" args="0 0 0 0 0 0 1 world map 100"/>

  <node pkg="localization" type="particle_filter.py" name="particle_filter" output="screen">
    <rosparam command="load" file="$(find localization)/params_deploy.yaml"/>
    <!-- <rosparam param="/use_sim_time" >True</rosparam> -->
  </node>
</launch>
